<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <h3 class="center">Afghan Dreams Blog Hub</h3>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/post">New Post</a>
            </li>

        </ul>
    </nav>
    <main>